<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>NEW VENUE</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>ADD NEW VENUE</h1>

    <form action="#" th:action="@{/venues}" th:object="${venue}" method="post">
    
    	<div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
    		<label for="name">Venue Name</label>
    		<input class="form-control" type="text" name="name" id="name" autofocus="autofocus" required/>
    		<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
    	</div>
    	
    	<div class="form-group" th:classappend="${#fields.hasErrors('capacity')}? has-error">
    		<label for="capacity">Venue Capacity</label>
    		<input class="form-control" type="number" name="capacity" id="capacity" autofocus="autofocus" required/>
    		<p class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">errors</p>
    	</div>
    	
    	<div class="form-group" th:classappend="${#fields.hasErrors('address')}? has-error">
    		<label for="address">Venue Address</label>
    		<input class="form-control" type="text" name="address" id="address" autofocus="autofocus" required/>
    		<p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">errors</p>
    	</div>
    	
    	<div class="form-group" th:classappend="${#fields.hasErrors('postcode')}? has-error">
        	<label for="postcode">Venue Postcode</label>
        	<input class="form-control" type="text" name="postcode" id="postcode" autofocus="autofocus" required/>
        	<p class="text-danger" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">errors</p>
      	</div>
    	
    	
    	<button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
    	
    	<a class="btn btn-warning" role="button" href="/venues"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
    	
    </form>
    
  </div>

</body>
</html>